name: nutrizham
description: A comprehensive fitness nutrition app with meal planning

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  cloud_firestore: ^4.0.0
  firebase_core: ^2.24.2 # <--- I added this. Firestore requires it.

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
